@charset "utf-8";

/*-------------------
    全体
--------------------*/
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    color: #333;
}
#header {
    text-align: center;
    font-size: 2.4rem;
    margin-top: 30px;
    width: 100%;
}
/*-------------------
    カレンダー
--------------------*/
#calendar {
    text-align: center;
    width: 100%;
}
.dayOfWeek {
    background-color: #ddfeff;
}
table {
    border: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}
th,
td {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}
/*日曜日*/
td:first-child {
    color: red;
}
/*土曜日*/
td:last-child {
    color: blue;
}
/*前後月の日付*/
td.disabled {
    color: #ccc;
}
/*本日*/
td.today {
    background-color: #d65e72;
    color: #fff;
    font-weight: bold;
}
/*ボタン*/
#next-prev-button {
    display: flex;
    justify-content: space-between;
}
#next-prev-button button {
    cursor: pointer;
    background: #b78d4a;
    color: #fff;
    border: 1px solid #b78d4a;
    border-radius: 4px;
    font-size: 2.4rem;
    padding: 10px 40px;
    margin: 20px 0;
}
#next-prev-button button:hover {
    opacity: 0.5;
}

#trigger {
    display: none;
}
.popup_overlay {
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s, transform 0s 0.5s;
    transform: scale(0);
}

.popup_trigger {
    position: absolute;
    width: 100%;
    height: 100%;
}
.popup_content {
    position: relative;
    align-self: center;
    width: 100%;
    max-width: 800px;
    padding: 30px 40px;
    background: #fff;
    transition: 0.5s;
}
.close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 15px;
    background: #e9767a;
    color: #fff;
    border-radius: 50%;
    line-height: 14px;
    font-weight: bold;
}

.popup_wrap input:checked ~ .popup_overlay {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
}
.popup_wrap input:checked ~ .popup_overlay .popup_content {
    transform: translateY(50px);
}

.schedule_form input[type="text"],
.schedule_form textarea {
    width: 96%;
    padding: 8px 10px;
    line-height: 1.6;
}
.schedule_form textarea {
    height: calc(1.6em * 5);
}
.schedule_form input[type="submit"] {
    display: block;
    margin: 0 auto;
    color: #fff;
    background-color: #eb6100;
    font-size: 1.8rem;
    width: 100px;
    padding: 10px;
    border-radius: 25px;
    border: none;
}

.schedule_form input[type="submit"]:hover {
    opacity: 0.5;
    cursor: pointer;
}
