<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>予定表</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="../assets/css/style.css">
    </head>
    <body>
        <div class="container">
            <!-- xxxx年xx月を表示 -->
            <h1 id="header"></h1>
            <!-- ボタンクリックで月移動 -->
            <div id="next-prev-button">
                <button id="prev">&lt;</button>
                <button id="next">&gt;</button>
            </div>
            <!-- カレンダー表示領域 -->
            <div id="calendar"></div>
        </div>

        <div class="popup_wrap">
            <input type="checkbox" id="trigger">
            <div class="popup_overlay">
                <label for="trigger" class="popup_trigger"></label>
                <div class="popup_content">
                    <label for="trigger" class="close_btn">×</label>
                    <form method="post" class="schedule_form">
                        <p>タイトル：<input type="text" name="title"></p>
                        <p>記入者：<input type="text" name="name"></p>
                        <p>スケジュール内容：<textarea name="content"></textarea></p>
                        <input type="submit" value="送信">
                    </form>
                </div>
            </div>
        </div>

        <script>
            const calendar = document.querySelector('#calendar')
            const week = ["日", "月", "火", "水", "木", "金", "土"];
            const today = new Date();
            // 月末だとずれる可能性があるため、1日固定で取得
            let showDate = new Date(today.getFullYear(), today.getMonth(), 1);

            // 初期表示
            window.onload = () => {
                showCalendar(today, calendar);
            };
            // 前の月表示
            const prevMonth = () => {
                while (calendar.lastChild) {
                    calendar.removeChild(calendar.lastChild)
                }
                showDate.setMonth(showDate.getMonth() - 1);
                showCalendar(showDate);
            }
            // 次の月表示
            const nextMonth = () => {
                while (calendar.lastChild) {
                    calendar.removeChild(calendar.lastChild)
                }
                showDate.setMonth(showDate.getMonth() + 1);
                showCalendar(showDate);
            }

            /*
                カレンダー表示全体のメソッド
                date ... 指定した年月日
            */
            const showCalendar = (date) => {
                let year = date.getFullYear();
                let month = date.getMonth();
                // ヘッダにxxxx年xx月を表示
                document.querySelector('#header').innerHTML = year + "年 " + (month + 1) + "月";
                // カレンダー作成しブラウザ出力
                calendar.append(createCalendar(year, month))
            }

            /*
                カレンダーを作成するメソッド
                year ... 指定した年
                month ... 指定した月
            */
            const createCalendar = (year, month) => {
                const calendar = document.createElement("table")
                let tableRow = document.createElement("tr")
                tableRow.classList.add("dayOfWeek")
                week.forEach((dayOfWeek) => {
                    const tableHeader = document.createElement("th")
                    tableHeader.innerHTML = dayOfWeek
                    tableRow.append(tableHeader)
                    calendar.append(tableRow);
                })

                // 1日から月末までの日付けをカウント
                let count = 0;
                // 1日が始まる曜日(日～土 = 0~6で出力)
                let startDayOfWeek = new Date(year, month, 1).getDay();
                // 月末日
                let endDate = new Date(year, month + 1, 0).getDate();
                // 先月の月末日
                let lastMonthEndDate = new Date(year, month, 0).getDate();
                // (1日が開始する曜日(日～土 = 0～6) + 最終日(30日など)) / 7 = カレンダーを出力する行
                let row = Math.ceil((startDayOfWeek + endDate) / week.length);

                // 1行ずつ設定
                for (let i = 0; i < row; i++) {
                    tableRow = document.createElement("tr")
                    // 1colum単位で設定
                    for (let j = 0; j < week.length; j++) {
                        const tableData = document.createElement("td")
                        const label = document.createElement("label")
                        if (i == 0 && j < startDayOfWeek) {
                            // 1行目で1日まで先月の日付を設定
                            // 先月が30日まで、今月が土曜日始まりの場合、 30 - 6 + 0~5 + 1 = 25~30までを1行目に追加
                            tableData.classList.add("disabled")
                            tableData.innerHTML = (lastMonthEndDate - startDayOfWeek + j + 1)
                        } else if (count >= endDate) {
                            // 最終行で最終日以降、翌月の日付を設定
                            count++;
                            tableData.classList.add("disabled")
                            tableData.innerHTML = (count - endDate)
                        } else {
                            // 当月の日付を曜日に照らし合わせて設定
                            count++;
                            if (year == today.getFullYear() && month == (today.getMonth()) && count == today.getDate()) {
                                tableData.classList.add("today")
                            }
                            label.setAttribute("for", "trigger")
                            label.innerHTML = count
                            tableData.append(label)
                        }
                        tableRow.append(tableData)
                    }
                    calendar.append(tableRow)
                }
                return calendar;
            }

            // 日付けをYYYY-MM-DDの書式で返すメソッド
            const formatDate = (dt) => {
                let y = dt.getFullYear();
                let m = ("00" + (dt.getMonth() + 1)).slice(-2);
                let d = ("00" + dt.getDate()).slice(-2);
                return y + "-" + m + "-" + d;
            }

            // 月遷移ボタンクリックで前月、翌月を表示
            document.querySelector("#prev").addEventListener("click", prevMonth)
            document.querySelector("#next").addEventListener("click", nextMonth)
        </script>
    </body>
</html>
